/* ROOT */
:root {
	--menu-lenght: calc((100vw - 20px) / 6);
	--logo-height: 150px;
	--slogan-height: calc(var(--logo-height) + 60px);
}
body {
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 1.8rem;
	color: #111;
	letter-spacing: 0.2rem;
}
b {
	font-weight: normal;
}
img {
	max-width: 100%;
	max-height: 100%;
}
p {
	margin-top: 40px;
}
.icon {
	font-family: 'FontAwesome';
	text-align: center;
}
/* !ROOT */



/* HEADER */
.master > header {
	height: var(--menu-lenght);
	z-index: 2;
	position: absolute;
	top: 0;
	color: #fff;
	justify-content: center;
	align-items: center;
	transition: top .5s;
}
.master > header > h1 {
	font-size: 1.8rem;
}
.on-menu > header {
	top: var(--menu-lenght);
}
/* !HEADER */



/* PAGES */
.pages {
	top: 0;
	transition: top .5s;
}
.on-menu .pages {
	top: var(--menu-lenght);
}
/* !PAGES */



/* MENU */
.menu {
	height: 0px;
	z-index: 998;
	position: fixed;
	background-color: darkorange;
	transition: height .5s;
	flex-wrap: nowrap;
}
.menu *:not(.menu-control) {
	height: 100%;
}
.menu-control {
	cursor: pointer;
}
.menu-control,
.menu-link {
	width: var(--menu-lenght);
	overflow: hidden;
	color: #fff;
	font-family: 'FontAwesome';
	font-weight: 300;
	text-align: center;
	line-height: var(--menu-lenght);
	justify-content: center;
	transition: all .5s;
}
.menu-control.invert {
	color: #111;
}
.menu-link > a {
	width: 100%;
}
.on-menu .menu{
	height: var(--menu-lenght);
}
.on-menu .menu-control{
	color: #fff !important;
}
/* !MENU */



/* HOME */
.home {
	height: calc(100vh - var(--slogan-height));
	min-height: 350px;
	max-height: 500px;
	z-index: -1;
	background-color: #000;
	background-position: 50% -100px;
}
.home-bg {
	z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity .5s;
}
.home-music-control {
	width: auto;
	margin: 0 auto 25px;
	border-radius: 20px;
	padding: 10px 20px;
	background-color: rgba(10, 10, 10, .9);
	font-size: 1.5rem;
	color: #fff;
	align-self: flex-end;
}
.home-music-control > b {
	margin-right: 10px;
	cursor: pointer;
	font-weight: 300;
	color: darkorange;
}
.home-logo {
	width: auto;
	height: var(--logo-height);
	box-shadow: 0px 0px 10px #101010;
	border-radius: 50%;
	padding: 15px;
	position: fixed;
	opacity: 0;
	background-color: rgba(10, 10, 10, .9);
	transition: opacity 1s;
}
/* !HOME */



/* SLOGAN */
.slogan {
	min-height: var(--slogan-height);
	box-shadow: 0 0 20px #000 inset;
	padding: 50px 20%;
	background-attachment: fixed;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 5px #000;
	color: #fff;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.slogan > i,
.slogan > b {
	transition: all 1s;
}
.slogan > b {
	position: absolute;
	margin-top: 50px;
	opacity: 0;
	font-weight: inherit;
}
.slogan > b:before,
.slogan > b:after {
	margin: 0 10px;
	content: '\f063';
	font-family: 'FontAwesome';
	animation: opacity 1.5s linear infinite alternate;
}
.slogan.ini i {
	margin-top: 50px;
	opacity: 0;
}
.slogan.ini b {
	margin-top: 0;
	opacity: 1;
}
.slogan.first {
	box-shadow: none;
	background-color: rgba(241, 228, 222, .9);
	background-image: none;
	text-shadow: none;
	color: #000;
}
/* SLOGAN */



/* ABOUT */
.about {
	min-height: 100vh;
	padding: 100px 15%;
	background-color: rgba(255, 255, 255, .9);
	align-content: center;
}
.about > p > a {
	color: darkorange;
}
/* ABOUT */



/* EXPERIENCE */
.experiences {
	min-height: 100vh;
	padding: 100px 15%;
	background-color: rgba(20, 20, 35, .9);
	color: #fff;
	align-content: center;
}
/* !EXPERIENCE */



/* PROJECTS */
.projects {
	min-height: 100vh;
	padding: 100px 0 60px;
	background-color: rgba(255, 185, 20, .9);
	justify-content: center;
	align-content: center;
}
.projects > header {
	padding: 0 15%;
}
.projects-list {
	margin: 30px 0;
}
.project {
	--width: calc(100% / var(--n));
	--height: calc(100vw / var(--n));

	width: var(--width);
	height: var(--height);
	box-shadow: 0px 0px 10px #000 inset;
	background-color: rgba(100, 100, 100, .9);
	color: #fff;
	justify-content: center;
	align-items: center;
}
/* !PROJECTS */



/* ANIMATIONS */
@keyframes opacity {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
/* !ANIMATIONS */



/* QUERIES */
@media screen and (max-width: 619px) {
	.experiences-list > h2 {
		margin: 50px 0 0 0;
	}
	.experience > p {
		margin-top: 30px;
		margin-left: 20px;
	}
	.project {
		--n: 1;
	}
}



@media screen and (min-width: 620px) {
	:root {
		--menu-lenght: 70px;
	}



	.master > header {
		padding: 0 25px 0 0;
		justify-content: flex-end;
	}



	.home-music-control {
		margin: 0 0 25px 10px;
	}
	.home-music-control > b:hover {
		color: orange;
	}



	.slogan {
		font-size: 3.5rem;
	}



	.experiences-list {
		--uni: 15px;

		width: 50%;
		margin: 50px 0 0 0;
		justify-content: center;
	}
	.experience {
		align-items: center;
	}
	.experience > p {
		margin-top: 0;
	}
	.experience:after {
		content: '';
		width: 5px;
		height: 100%;
		border-color: darkorange;
		position: absolute;
	}
	.academics {
		padding: 0 20px 0 0;
		text-align: right;
		justify-content: center;
	}
	.academics .experience {
		justify-content: flex-end;
	}
	.academics .experience:after {
		border-width: 2px 0 2px 2px;
		right: -15px;
	}
	.pratics {
		padding: 0 0 0 20px;
		justify-content: center;
	}
	.pratics .experience:after {
		border-width: 2px 2px 2px 0;
		left: -15px;
	}
	.ensino-medio {
		margin-top: calc(var(--uni) * 8);
		height: calc(var(--uni) * 38);
	}
	.ensino-superior {
		margin-top: calc(var(--uni) * 1);
		height: calc(var(--uni) * 10);
	}
	.web-design {
		margin-top: calc(var(--uni) * 1);
		height: calc(var(--uni) * 12);
	}
	.agencia-zum {
		margin-top: calc(var(--uni) * 4);
		height: calc(var(--uni) * 33);
	}
	.procurando-emprego {
		margin-top: calc(var(--uni) * 3);
		height: calc(var(--uni) * 4);
	}



	.project {
		--n: 2;

		transition: all .5s;
	}
}



@media screen and (min-width: 900px) {
	.menu-control:hover,
	.menu-link:hover {
		box-shadow: 0px 0px 5px #111;
		background-color: orange;
		color: #fff !important;
	}



	.about a:hover {
		color: orange;
	}



	.project {
		--n: 3;
	}
	.project:hover {
		background-color: rgba(150, 150, 150, .9);
	}
}
/* QUERIES */