/* ROOT */
:root {
	--logo-height: 150px;
	--slogan-height: calc(var(--logo-height) + 60px);
}
body {
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}
b {
	font-weight: normal;
}
img {
	max-width: 100%;
	max-height: 100%;
}

/* HOME */
.home {
	height: calc(100vh - var(--slogan-height));
	min-height: 350px;
	max-height: 500px;
	background-color: #000;
}
.home-bg {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../graphic/image/bg.png');
	background-attachment: fixed;
	background-position: -100px;
}
.home-music-control {
	width: auto;
	margin: 0 0 25px 10px;
	border-radius: 20px;
	padding: 10px 20px;
	background-color: rgba(10, 10, 10, .9);
	color: #fff;
	align-self: flex-end;
}
.home-music-play {
	color: darkorange;
}
.home-logo {
	width: auto;
	height: var(--logo-height);
	box-shadow: 0px 0px 10px #101010;
	border-radius: 50%;
	padding: 15px;
	position: fixed;
	opacity: 0;
	background-color: rgba(10, 10, 10, .9);
	transition: opacity 1s;
}


/* SLOGAN */
.slogan {
	height: var(--slogan-height);
	background-color: rgba(241, 228, 222, .9);
	text-align: center;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.slogan:before, .slogan:after {
	--padding: 55px;

	content: '';
	width: 100%;
	height: 15px;
	position: absolute;
	background-image: url('../graphic/image/line.png');
	background-size: contain;
	background-position: center;
}
.slogan:before {
	top: var(--padding);
	transform: rotate(180deg);
}
.slogan:after {
	bottom: var(--padding);
}
.slogan p {
	position: absolute;
	font-size: 3rem;
	font-weight: bold;
	transition: all .5s;
}
.slogan p:first-child {
	margin-top: 50px;
	opacity: 0;
}
.slogan.ini p:first-child {
	margin-top: 0;
	opacity: 1;
}
.slogan.ini p:first-child b {
    animation: opacity 1.5s linear infinite alternate;
}
.slogan.ini p:last-child {
	margin-top: 50px;
	opacity: 0;
}


/* MENU */
.menu {
	height: 100vh;
	background-image: url('../graphic/image/bg_alpha.png');
	background-attachment: fixed;
	align-items: stretch;
}
.menu ul {
	padding: 25px;
	flex-wrap: nowrap;
}
.menu ul li {
	height: calc(100% - 50px);
	margin: 25px;
	background-color: #ededed;
	justify-content: center;
	align-items: center;
}

/* ANIMATIONS */
@keyframes opacity {
    from {
    	opacity: 0;
    } to {
    	opacity: 1;
    }
}