/* BODY */
body{
	font-size: 1.5rem;
	letter-spacing: 2px;
}
b{
	font-weight: normal;
}

/* HOME */
.home{
	min-height: 300px;
	background-color: #000;
}
.home-bg{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}
.home-music-control{
	width: auto;
	margin: 0 0 25px 10px;
	border-radius: 20px;
	padding: 10px 20px;
	background-color: rgba(10, 10, 10, .9);
	color: #fff;
	align-self: flex-end;
}
.home-music-play{
	color: darkorange;
}
.home-logo{
	width: auto;
	box-shadow: 0px 0px 10px #101010;
	border-radius: 50%;
	padding: 15px;
	position: fixed;
	opacity: 0;
	background-color: rgba(10, 10, 10, .9);
	transition: opacity 1s;
}
.home-logo > img{
	height: 120px;
}


/* WHITE */
.white{
	height: 200vh;
	box-shadow: 5px 0px 10px 7px #f1e5df;
	background-color: rgba(240, 227, 220, .9);
}